<li class="blog-item">
  <a class="blog-link" href="<%= post.path %>"></a>

  <div class="title-container">
      <%= post.title %>
  </div>
  <p class="date">
  <%- date(post.date, 'D/M/YYYY') %>
  </p>

  <div class="tags-container">
    <% if(post.tags) { %>
    <span class="tags-color">
      <i class="fas fa-tag"></i>
    </span>
    <% }%>

    <%- list_tags(post.tags, {class: 'tag-item', style: false, separator: ', ', show_count: false}) %>
  </div>

  <div class="content-container">
    <%- post.content %>
  </div>

</li>
